.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.app-content {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.search-results {
  flex: 1;
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 1rem;
  border-right: 1px solid #3d3d5c;
}

.playlist {
  flex: 1;
}